body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    margin: unset;
}

.first{
    background-color: orange;
}

#idField.is-active{
    background:red;
}